.main-window {
    -fx-background-color: white;
    -fx-background-radius: 30;
}

.left-pane {
    -fx-background-color: #DB0007, linear-gradient(to top, rgba(0,0,0,0.25), transparent);
}

.right-pane {
    -fx-background-color: white;
}

.title-label {
    -fx-text-fill: #FFC300;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", sans-serif;
}

.title-bar {
    -fx-background-color: #222222;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 25, 0, 0, 10);
    -fx-view-order: -1;
    }

.left-pane .label {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: 900;
}

.login-fields .text-field {
    -fx-pref-height: 45px;
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 8px;
    -fx-border-width: 1.5px;
    -fx-padding: 0 15px 0 15px;
    -fx-font-size: 14px;
    -fx-prompt-text-fill: #b0b0b0;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);

}

.login-fields .text-field:hover {
    -fx-border-color: #bdbdbd;
    -fx-cursor: text;
}

.login-fields .text-field:focused {
    -fx-background-color: #ffffff;
    -fx-border-color: #DB0007;

    -fx-effect: dropshadow(three-pass-box, rgba(219, 0, 7, 0.2), 12, 0, 0, 0);
}


.login-fields .button:hover {
    -fx-background-color: #ff1a21;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.login-fields .button:pressed {
    -fx-background-color: #a30005;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 1);
}

.login-fields .button {
    -fx-pref-height: 45px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #DB0007;
    -fx-background-radius: 50;
    -fx-padding: 0 15px 0 15px;
    -fx-font-size: 14px;
    -fx-font-weight: 800;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);

}

.login-fields .hyperlink {
    -fx-text-fill: #DB0007;
}


.label {
    -fx-font-family: "Segoe UI", sans-serif;
}

.svg-icon {
    -fx-stroke: #aaaaaa;
    -fx-stroke-width: 2;
    -fx-stroke-line-cap: round;
}

.window-btn:hover .svg-icon {
    -fx-stroke: white;
}

.window-btn {
    -fx-background-color: transparent;
    -fx-padding: 8;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 3px;
}

.check-box .mark {
    -fx-background-color: transparent;
    -fx-shape: "M1.73,12.91L8.1,19.28L22.79,4.59L21.38,3.18L8.1,16.46L3.15,11.5L1.73,12.91Z";
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.check-box:hover .box {
    -fx-border-color: #DB0007;
}

.check-box:selected .box {
    -fx-background-color: #DB0007;
    -fx-border-color: #DB0007;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box .label {
    -fx-font-size: 14px;
    -fx-padding: 0 0 0 10px;
}

.check-box:focused .box {
    -fx-effect: dropshadow(three-pass-box, rgba(33, 150, 243, 0.4), 5, 0, 0, 0);
}